<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.weichengcao.privadroid">

    <application
        android:name=".PrivaDroidApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/appName"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".ui.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.TutorialActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MainScreenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.Events.SurveyedEventsActivity"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".ui.Events.UnsurveyedEventsActivity"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".ui.DemographicActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.SurveyQuestions.AppInstallSurveyActivity"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".ui.SurveyQuestions.AppUninstallSurveyActivity"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".ui.SurveyQuestions.PermissionDenySurveyActivity"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".ui.SurveyQuestions.PermissionGrantSurveyActivity"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".ui.RewardsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ExitSurveyActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1063585474940344~2699806720" />

        <receiver
            android:name=".sensors.AppPackagesBroadcastReceiver"
            android:enabled="true">

            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <action android:name="android.intent.action.PACKAGE_ADDED" />

                <data android:scheme="package" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".sensors.SystemChangeEventReceiver"
            android:enabled="true">

            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <data
                    android:path="com.weichengcao.privadroid"
                    android:scheme="package" />
            </intent-filter>
        </receiver>

        <service
            android:name=".sensors.AccessibilityEventMonitorService"
            android:label="@string/appName"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">

            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibilityservice" />
        </service>
        <service android:name=".sensors.SystemBroadcastForegroundService" />
        <service
            android:name=".notifications.HeartbeatAndServiceReminderService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".notifications.DemographicReminderService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".notifications.ChangePermissionReminderService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".database.OnDeviceStorageProvider"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
    </application>

    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <!--  To receive ACTION_BOOT_COMPLETED intent.  -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!--  To run services in foreground in api 28 and above.  -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>